.infobar {
  width: 100%;
  border: 1px #1e2d3d solid;
  display: flex;
  gap: 2rem;
  height: 60px;
  color: rgb(90, 129, 245);
  margin-top: 0.5rem;
  overflow-x: auto;
  position: relative;
}

.infobar::-webkit-scrollbar {
  width: 0.2em;
  height: 0.2em;
}

.infobar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.infobar::-webkit-scrollbar-thumb {
  background-color: #5243c2;
}

.info-bar-left {
  border: #1e2d3d solid 1px;
  width: 150px;
  min-width: 150px;
  display: flex;
  align-items: center;
  padding: 20px;
}

.info-bar-left h2 {
  width: 100%;
}

.info-bar-content ul {
  display: flex;
  gap: 1rem;
  height: 100%;
  align-items: center;
  font-size: 3rem;
}

.info-bar-content ul li {
  border: #1e2d3d solid 1px;
  height: 100%;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* min-width: 150px; */
  gap: 0.5rem;
  cursor: pointer;
  font-weight: 600;
}

.info-bar-content ul li:nth-of-type(4) {
  width: 150px;
}

.scroll {
  font-size: 2rem;
  align-self: center;
  justify-self: center;
  position: absolute;
  right: 10%;
  bottom: 0;
  color: #fff;
}
