.projectsLanding {
  display: grid;
  height: 100%;
  display: grid;
  grid-template-columns: 300px auto;
}

.projects-left {
  padding: 5%;
  border: 1px #1e2d3d solid;
}

.projects-left ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projects-left ul li a {
  color: #607b96;
}

.projects-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2%;
  gap: 2rem;
  flex-wrap: wrap;
  overflow: hidden;
  height: 100%;
}

.product-card {
  background-color: #011221;
  max-width: 450px;
  border-radius: 30px;
  overflow: hidden;
  border: 2px #1e2d3d solid;
  cursor: pointer;
  color: #6f8aa6;
  transition: 1s ease;
}

.product-card a {
  color: #91acc5;
}

.product-card img {
  border-radius: 20px 20px 0 0;
  border-bottom: 1px #1e2d3d solid;
}

.product-card:hover {
  transition: 1s ease;
  border: 3px #5565e8 solid;
}

.card-desc {
  padding: 20px;
  padding-bottom: 30px;
  overflow: hidden;
}

.card-desc h3 {
  color: #5565e8;
  margin-bottom: 0.5rem;
}

.card-desc p {
  margin-bottom: 10px;
  line-height: 1.8rem;
}

@media (max-width: 600px) {
  .projectsLanding {
    display: flex;
  }
  .projects-left {
    display: none;
  }
}
