.projectsLanding {
  display: grid;
  height: 100%;
  display: grid;
  grid-template-columns: 300px auto;
}

.projects-left {
  padding: 5%;
  border: 1px #1e2d3d solid;
}

.projects-left ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projects-left ul li a {
  color: #607b96;
}

.projects-right {
  justify-content: flex-start;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  gap: 1.5rem;
  overflow: hidden;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  align-items: center;
}

.product-card {
  background-color: #011221;
  max-width: 390px;
  border-radius: 28px;
  overflow: hidden;
  border: 2px #1e2d3d solid;
  cursor: pointer;
  color: #6f8aa6;
  transition: 0.8s ease;
  margin: auto;
  height: auto;
}

.product-card a {
  color: #91acc5;
  width: 100%;
}

.product-card img {
  border-radius: 20px 20px 0 0;
  border-bottom: 1px #1e2d3d solid;
}

.product-card:hover {
  transition: 1s ease;
  border: 1px #5565e8 solid;
}

.card-desc {
  padding: 20px;
  padding-bottom: 30px;
  overflow: hidden;
}

.card-desc h3 {
  color: #5565e8;
  margin-bottom: 0.5rem;
}

.card-desc p {
  margin-bottom: 10px;
  line-height: 1.8rem;
}

.card-top {
  height: 220px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}

.card-top img {
  /* flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  align-self: center; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 600px) {
  .projectsLanding {
    display: flex;
  }
  .projects-left {
    display: none;
  }
}
