.Home {
  height: 100vh;
  background-color: #011627;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

@media (max-width: 600px) {
  .Home {
    height: 100vh;
    overflow-y: visible;
  }
}
