nav {
  z-index: 111;
}

.nav-container {
  justify-content: space-between;
  border: 1px #1e2d3d solid;
  height: 70px;
}

.nav-left {
  width: 500px;
  align-items: center;
}

.nav-links {
  height: 100%;
}

.mobile {
  height: 100%;
}

.logo {
  border: 1px #1e2d3d solid;
  border-bottom: none;
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  color: #607b96;
  padding-left: 5%;
}

.nav-links li {
  color: #a7bfd5;
  border: 1px #1e2d3d solid;
  border-bottom: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.nav-contact li {
  border: 1px #1e2d3d solid;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: #a7bfd5; */
  width: 150px;
}

.nav-contact li:hover {
  color: #fea55f;
}

.nav-links li:hover {
  color: #fea55f;
}

.active {
  border-bottom: 2px #fea55f solid !important;
  color: #fea55f;
}

.inactive {
  color: #a7bfd5;
}

@media (max-width: 900px) {
  .nav-container {
    justify-content: space-between;
    width: 100%;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    width: 100%;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    height: 100px;
    border: 1px #607b96 solid;
    padding: 0 1%;
  }

  .nav-links li {
    border: none;
    padding: 20px;
    width: 100%;
    height: 100%;
    border: 1px #607b96 solid;
    text-align: center;
  }

  nav {
    margin-bottom: 7rem;
  }
}

@media (max-width: 450px) {
  .logo {
    width: 200px;
  }
}

@media (max-width: 380px) {
  .nav-links li {
    padding: 15px;
  }
}
