footer {
  height: 70px;
  min-height: 70px;
  max-height: 70px;
  display: flex;
  border: 1px #1e2d3d solid;
  justify-content: space-between;
  z-index: 111;
}

.footer-left {
  border: 1px #1e2d3d solid;
  display: flex;
  width: 300px;
  align-items: center;
  color: #607b96;
  height: 100%;
}

.footer-left h2 {
  border: #1e2d3d 1px solid;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 3%;
}

.footer-left a {
  font-size: 2rem;
  border: #1e2d3d 1px solid;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3%;
  width: 90px;
  color: #607b96;
}

.footer-right {
  border: #1e2d3d 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.footer-right a {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  color: #fff;
}

@media (max-width: 420px) {
  .footer-right a span {
    display: none;
  }

  .footer-right {
    width: 25%;
  }
}
