.about-landing {
  display: grid;
  height: 100%;
  min-height: 700px;
  grid-template-columns: 300px 700px auto;
  overflow: auto;
  margin: 0.5rem 0;
}

.about-left {
  border: 1px #1e2d3d solid;
  padding: 5%;
  display: flex;
  flex-direction: column;
}

.about-left ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  display: inline-flex;
}

.about-left ul li {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  color: #fff;
  fill: #fff;
}

.about-left ul li:hover {
  color: #5981f4;
}

.folder-active {
  fill: #5981f4 !important;
  color: #5981f4 !important;
}

.about-middle {
  border: 1px #1e2d3d solid;
  padding: 3% 8%;
  padding-left: 9%;
  line-height: 2rem;
}

.about-middle h2 {
  margin-bottom: 0.5rem;
  color: #5466e8;
}

.about-right {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  border: 1px #1e2d3d solid;
  margin-left: 30px;
  min-height: 75vh;
}

.about-right img {
  width: 70%;
}

.about-contact {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.about-contact p {
  border: 1px #1e2d3d solid;
  padding: 20px;
  width: 100%;
}

.about-contact a {
  color: #607b96;
  padding-left: 1rem;
  margin-top: 0.5rem;
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
}

/**** Child Components ***/

.education {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
}

.education-card {
  border: 2px #35475b solid;
  padding: 15px;
  border-radius: 10px;
  width: 260px;
}

.education-card span {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.education-card h2 {
  color: #9fb5ca;
}

.interests {
  min-width: 300px;
}

.about-right-image {
  min-height: 500px;
  max-height: 700px;
  width: 90%;
  max-width: 600px;
  /* background-image: url("../../../public/assets/reddish.jpeg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  border: 8px #5466e8 solid;
}

/****/

@media (max-width: 1180px) {
  .about-landing {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  /****ReUse con ****/

  .about-landing .about-contact {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  /****/

  .about-left {
    flex-direction: column-reverse;
    gap: 1.5rem;
  }

  .about-middle {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .about-right {
    margin: 0;
    padding: 4% 0;
  }
}
